{{ formName.value | json }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AEF</title>
</head>
<body>

<section>
  <form action="" #formName="ngForm">
    <h3>Personal Info:</h3>
    <label for="input-first-name">First name:</label>
    <br>
    <input required type="text" ngModel #firstName="ngModel" name="input-first-name">
    <br>
    <label for="input-last-name">Last name:</label>
    <br>
    <input required type="text" ngModel  #lastName="ngModel" name="input-last-name">
    <br>
    <label for="input-email">E-mail address:</label>
    <br>
    <input required type="text" ngModel #email="ngModel" name="input-email">
    <br>
    <label for="input-phone-number">Phone number:</label>
    <br>
    <input required type="text" ngModel #phoneNumber="ngModel" name="input-phone-number">
    <br>
    <label for="input-preferred-language">Preferred programming language:</label>
    <br>
    <select type="text" ngModel #preferredLanguage="ngModel" name="input-preferred-language">
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="Javascript">Javascript</option>
      <option value="PHP">PHP</option>
      <option value="Java">Java</option>
      <option value="Python">Python</option>
      <option value="C">C</option>
      <option value="C++">C++</option>
      <option value="C#">C#</option>
      <option value="Ruby">Ruby</option>
    </select>
    <br>
    <label for="input-discord-id">Discord ID:</label>
    <br>
    <input type="text" ngModel #discordID="ngModel" name="input-discord-id">
    <br>
    <label for="input-social-media-link">Link to social media <br> (Facebook, Instagram...):</label>
    <br>
    <input type="text" ngModel #socialMediaLink="ngModel" name="input-social-media-link">
    <br>
    <label for="input-description">Tell something about yourself:</label>
    <br>
    <input required type="text" ngModel #description="ngModel" name="input-description">

    <h3>Some fun facts:</h3>
    <label for="input-zodiac-sign">Zodiac sign:</label>
    <br>
    <input type="text" ngModel #zodiacSign="ngModel" name="input-zodiac-sign">
    <br>
    <label for="input-lucky-number">Lucky number:</label>
    <br>
    <input type="text" ngModel #luckyNumber="ngModel" name="input-lucky-number">
    <br>
    <label for="input-greatest-achievement">Greatest achievement</label>
    <br>
    <input type="text" ngModel #greatestAchievement="ngModel" name="input-greatest-achievement">
    <br>
    <label for="input-favourite-food">Favourite food:</label>
    <br>
    <input type="text" ngModel #favouriteFood="ngModel" name="input-favourite-food">
    <br>
    <label for="input-talent">Talent</label>
    <br>
    <input type="text" ngModel #talent="ngModel" name="input-talent">
    <br>
    <label for="input-languages">Languages you speak:</label>
    <br>
    <input type="text" ngModel #languages="ngModel" name="input-languages"> 
    <br>
  </form>
</section>
  
</body>
</html>

<router-outlet></router-outlet>
